Def_palavra_mais_longa.py
Multíplas funções/__pycache__/matematica.cpython-313.pyc
Multíplas funções/__pycache__/strings.cpython-313.pyc
Módulo para Notas/__pycache__/calculo.cpython-313.pyc
Sala de Aula/__pycache__/alunos.cpython-313.pyc
Sala de Aula/__pycache__/dados.cpython-313.pyc
Sala de Aula/__pycache__/professores.cpython-313.pyc
